/*===== Variables ======*/
@white: white;


/*====== Colors =======*/




/*====== Global =======*/
body {
  background-color: @white;
}


/*===== Buttons ======*/


/*===== Nav ======*/

.navbar {
  border-bottom: 2px solid #ccc;

  .logo {
    width: 100px;
  }

  .container {
    margin-left: 20px;
  }
}


/*===== Search ======*/



/*===== Results Banner ======*/




/*===== Filter ======*/



/*===== Search Results ======*/